<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <span>
      <img src="./assets/img/filme.png" alt="">
    </span>
    <mat-nav-list>
      <a routerLink="" mat-list-item >
        <i class="material-icons">home</i>
        Home
      </a>
      <a routerLink="/cadastro" mat-list-item >
        <i class="material-icons">menu_book</i>
        Cadastro
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
