.footer img {
    height: 2.6rem;   
    padding: 5px;
    width: 40px;
    margin-left: 10px;
    margin-top: 40px; 
}

/* Estilos para o contêiner do rodapé (.footer) */
.mat-toolbar.footer {
    background-color: rgb(98, 100, 100);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha os itens ao redor dos extremos */
    position: fixed; /* Fixa o rodapé */
    bottom: 0; /* Posiciona o rodapé no final da janela do navegador */
    width: 100%; /* Largura total do rodapé */
}

/* Estilos para o texto dentro da barra de ferramentas do rodapé */
.mat-toolbar.footer .footer {
    display: contents;
    align-items: center;
}

.mat-toolbar.footer .footer-text {
    font-size: 16px;
    color: white;
    margin-left: 5px;
    height: 0.5px;;
    flex-grow: 1; /* Faz o texto ocupar o espaço disponível */
    text-align: center; /* Centraliza o texto */
}
